#keyboard
{
    position: static;
    width: 50%;
    margin: 0% auto auto auto;
    height: 40%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#keyboard-button
{
    width: 8%;
    height: 100%;
    align-items: space-around;
    background-color: #262E38;
    color: white;
    border: 1px solid #596574;
}