#round-number
{
    margin: 2% auto auto auto;
    font-size: 400%;
    color: white;
}

#user-login
{
    color: white;
    margin-top: 5%;
}

#score
{
    color: white;
    
}

#word-to-guess
{
    /* margin: 50% auto auto auto; */
    display: flex;
    flex-direction: row;
    padding-top: 20%;
    justify-content:center;
}

.check-letter
{
    width: 50px;
    padding: 10px;
}

.bottom-border
{
    width: 50px;
    border-bottom: 2px solid white;
}

.letter
{
    font-size: 300%;
    margin: 0% 25% 15% 25%;
    vertical-align: middle;
}

.showLetter
{
    visibility: visible;
}


.hideLetter
{
    visibility: hidden;
}

.dialog
{
    background-color: cadetblue;
}