#round-number
{
    margin: 2% auto auto auto;
}

#word-to-guess
{
    margin: 50% auto auto auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#check-letter
{
    width: 50px;
    padding: 3%;
}

#bottom-border
{
    border-bottom: 2px solid white;
}

#letter
{
    font-size: 300%;
}