<svg height="500px" width="100%" style="margin-left:20px">
    <line id="horizontal-line" x1="40" x2="260" y1="100" y2="100" style="stroke:red; stroke-width:3;"/>
    <line id="short-vert-line" x1="260" x2="260" y1="100" y2="150" style="stroke:blue; stroke-width:3;"/>
    <circle id="head" cx="260" cy="180" r="40" stroke="white" fill="#262E38" stroke-width="3"/>
    <line id="left-left-eye" x1="240" x2="250" y1="160" y2="170" style="stroke:pink; stroke-width:2;"/>
    <line id="right-left-eye" x1="250" x2="240" y1="160" y2="170" style="stroke:yellow; stroke-width:2;"/>

    <line id="right-right-eye" x1="270" x2="280" y1="160" y2="170" style="stroke:black; stroke-width:2;"/>
    <line id="left-right-eye" x1="280" x2="270" y1="160" y2="170" style="stroke:rgb(131, 80, 80); stroke-width:2;"/>

    <path id="reverse-smile" d="M 240 200 Q 260 160 280 200" stroke="white" fill="transparent" stroke-width="2"/>
    
    <line id="body" x1="260" x2="260" y1="220" y2="300" style="stroke:rgb(109, 146, 75); stroke-width:3;"/>
    <line id="hand-left" x1="260" x2="220" y1="220" y2="260" style="stroke:rgb(206, 180, 202); stroke-width:3;"/>
    <line id="hand-right" x1="260" x2="300" y1="220" y2="260" style="stroke:rgb(31, 109, 119); stroke-width:3;"/>
    <line id="leg-left" x1="260" x2="220" y1="300" y2="340" style="stroke:rgb(185, 170, 83); stroke-width:3;"/>
    <line id="leg-right" x1="260" x2="300" y1="300" y2="340" style="stroke:rgb(53, 46, 46); stroke-width:3;"/>
    
    <line id="long-vert-line" x1="40" x2="40" y1="100" y2="340" style="stroke:rgb(133, 88, 102); stroke-width:3;"/>
    <line id="left-footer" x1="40" x2="10" y1="340" y2="400" style="stroke:rgb(55, 156, 139); stroke-width:3;"/>  
    <line id="right-footer" x1="70" x2="40" y1="400" y2="340" style="stroke:rgb(20, 21, 75); stroke-width:3;"/>

    <!--<line x1="100" x2="400" y1="350" y2="350" style="stroke:white; stroke-width:3;"/>-->

    <!--<line x1="100" x2="200" y1="350" y2="350" style="stroke:white; stroke-width:3;"/>
    <line x1="200" x2="160" y1="350" y2="400" style="stroke:white; stroke-width:3;"/>
    <line x1="310" x2="350" y1="350" y2="400" style="stroke:white; stroke-width:3;"/>
    <line x1="310" x2="400" y1="350" y2="350" style="stroke:white; stroke-width:3;"/>-->
</svg>