svg
{
    position: sticky;
}

svg #head
{
    animation: hangman 3s ease alternate infinite;
    animation-delay: 0.1s;
}

svg #left-left-eye, svg #right-left-eye
{
    animation: hangman 3s ease alternate infinite;
    animation-delay: 0.2s;
}

svg #right-right-eye, svg #left-right-eye
{
    animation: hangman 3s ease alternate infinite;
    animation-delay: 0.3s;
}

@keyframes hangman
{
    50%
    {
        opacity: 0.6;
    }
    100%
    {
        opacity: 1;
    }
}