<div id="flex-timer">
    <div id="round-number">ROUND {{ roundNumber }}</div>
    <div id="timer"> {{ timer }}</div>
</div>
<div id="user-login">Player: <strong>{{ userLogin }}</strong></div>
<div id="score">Score: <strong>{{ score }}</strong></div>
<div id="word-to-guess">
    <div class="check-letter" *ngFor="let letter of wordToGuess" >
        <div class="letter" [ngClass]="letter.show ? 'showLetter' : 'hideLetter'">{{ letter.letter }}</div>
        <div class="bottom-border"  [ngClass]="!letter.show ? 'showLetter' : 'hideLetter'"></div>
    </div>
</div>
